<div style="background-color:antiquewhite">
    <div class="navbar navbar-header navbar-fixed-top nav-justified" style="background-color:aquamarine">

        <div class="container-fluid">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle btn btn-info"data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar" style="color:aqua"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                <div class="active" style="color:blueviolet">
                    @*@Html.ActionLink("My MVC Application", "Index", "Table_Datecal", new { area = "" }, new { @class = "navbar-brand" })*@

                    <div class="container-fluid">
                    <div class="navbar-collapse collapse">
                        <div class="text-info">
                            <ul class="nav navbar-nav">

                                <li>@Html.ActionLink("Home", "Index", "Table_Datecal")</li>
                                <li>@Html.ActionLink("About", "Index", "Table_Datecal")</li>
                                <li>@Html.ActionLink("DateCal", "Index", "Table_Datecal")</li>
                            </ul>
                        </div>
                        </DIV>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
